* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

.menu {
  background-color: #272C30;
}

li {
  display: inline-block;
  padding: 18px 10px;
}

ul {
  float: right;
  color: #fff
}

i {
  color: #fff;
  padding-top: 20px;
}


/*sección foto y frase)*/
.foto{
  background-image: url(../img/eu.jpg);
  background-position: center;
  height: 16em;
  padding: 0;
  width: 100%;
  background-repeat: no-repeat;
}


/*textos*/
header h4 {
  display: inline-block;
  font-size: 20px;
  color: #fff;
  margin: 14px;
}

h1 {
  font-size: 30px;
  margin: 20px auto;
}

h2 {
  font-size: 18px;
  margin: 20px auto 10px;
}


a {
  text-decoration: none;
}

/*botones*/
button {
  background-color: #1560FE;
  border: none;
  font-size: 11px;
  color: #fff;
  margin: 20px 0px;
  padding: 10px 10px;
}

/*sección gatitos*/
.adopt{
  width: 25%;
  height: auto;
}

/*pie de página*/
footer {
  background-color: #272C30;
  color: #fff;
  text-align: center;
}

footer p {
  padding: 30px;
}